<!DOCTYPE html>
<html>
	<head>
		<title>
		/{{ .Board.Name }}/ - {{ .Board.Description.String }}
		</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<form action="" method="post" enctype="multipart/form-data">
			Name: <input type="text" name="author"><br>
			Subject: <input type="text" name="subject"><br>
			Comment: <input type="text" name="comment"><br>
			<input type="submit" value="Post">
		</form>
		{{ $board := .Board.Name }}
		{{ range .Threads }}
		<div class="post">
			<div>
				{{ if .Subject.Valid }}
				<span><span class="subject">{{ .Subject.String }}</span> <span class="username">{{ .Author }}</span> {{ .Time.Format "2006/1/2 15:04:05" }} <a href="/{{ $board }}/{{ .PostNum }}">No.{{ .PostNum }}</a></span>
				{{ else }}
				<span><span class="username">{{ .Author }}</span> {{ .Time.Format "2006/1/2 15:04:05" }} <a href="/{{ $board }}/{{ .PostNum }}">No.{{ .PostNum }}</a></span>
				{{ end }}
			</div>
			<div>
				{{ .Comment }}
			</div>
		</div>
		{{ end }}
	</body>
</html>
