<!DOCTYPE html>
<html>
	<head>
		<title>
		{{ if .Board.Description.Valid }}
			/{{ .Board.Name }}/ - {{ .Board.Description.String }}
		{{ else }}
			/{{ .Board.Name }}/
		{{ end }}
		</title>
		<link rel="stylesheet" href="/static/eggchan.css">
	</head>
	<body>
		<div class="post">
			<div>
				<span><span class="username">{{ .Thread.Author }}</span> {{ .Thread.Time.Format "2006/1/2 15:04:05" }} No.{{ .Thread.PostNum }}</span>
			</div>
			<div>
				{{ .Thread.Comment }}
			</div>
		</div>
		{{ range .Posts }}
		<div class="post">
			<div>
				<span><span class="username">{{ .Author }}</span> {{ .Time.Format "2006/1/2 15:04:05" }} No.{{ .PostNum }}</span>
			</div>
			<div>
				{{ .Comment }}
			</div>
		</div>
		{{ end }}
	</body>
</html>
