html {
	background-color: #fff7dd;
}

span.subject {
	color: blue;
}

span.username {
	color: green;
}

span.summary {
	/* margin-top: 3px; */
	color: gray;
	display: table;
}

div.post-container {
	padding: 10px;
	margin: 10px;
	border-color: #ffefbc;
	border-width: 1px;
	border-style: solid;
	display: table;
	/* background-color: #fff2c9; */
	background-color: #ffefbc;
}

div.post-info {
}

div.comment {
	/* margin-top: 3px; */
	/* margin-bottom: 5px; */
}
